*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: white;
    
}
header{
    background-color: white;
}

#nav-div{
    background-color: white;
    width: 100%;
    height: 8vw;
    position: fixed;

    
}
#nav-bar{
    background-color: blue;
    width: 100%;
    position: fixed;
} 
#nav-bar div{
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    
}
#nav-bar #logo-div{
    background-color: blue;
    width: 20%;
    height: 8vw;
}
#nav-bar #logo-div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#nav-bar #links-div{
    background-color: blue;
    width: 80%;
    height: 8vw;
}

#nav-bar ul {
    background-color: blue;
}

#nav-bar ul li{
    background-color: blue;
}

body{
    background-color: blue;
}

main{
    padding-top: 15vw;
    background-color: blue;
    width: 90%;
    margin-left: 5%;
}
#intro{
    background-color: white;
    padding: 5vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#intro h1{
    background-color: white;
    padding: 5vmin;
    text-overflow: hidden;
    font-size: 5vw;
}
#intro form{
    background-color: white;
    padding: 5vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#intro form #email{
    padding: 2vmin 5vmin 2vmin 5vmin;
    margin: 2vmin 0 2vmin 0;

}

.content{
    background-color: white;
    display: flex;
    align-items: center;
    margin: 10vw 0 10vw 0;
}

#specs{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#specs h1{
    background-color: white;
    padding: 5vmin;
    text-overflow: hidden;
    font-size: 4vw;
}

#specs ul{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
}
#specs ul li{
    padding: 2vw 2vw 2vw 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
}
#specs ul li h4{
    padding: 2vw 0 2vw 0;
    display: flex;
    font-weight: bold;
    font-size: 2vw;
    text-decoration: underline;
    text-align: center;
}
#specs ul li img{
    background-color: white;
    width: 100%;
    height: 10vw;
    object-fit: cover;
}
#specs ul li span{
    margin: 1vw;
    text-align: center;
    width: 80%;
    font-size: 1vw;
    
}

#howitworks{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#howitworks h1{
    background-color: white;
    padding: 5vmin;
    text-overflow: hidden;
    font-size: 4vw;
}

#howitworks #content-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white(221, 158, 31);
    width: 100%;
}

#howitworks #content-div #list-div{
    background-color: white;
    width: 40%;
    list-style-type: none;
}
#howitworks #content-div #list-div ol{
    list-style:georgian;
    width: 80%;
    margin-left: 20%;
}
#howitworks #content-div #list-div li{
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    padding: 1vw 0 1vw 0;
}

#howitworks #content-div #video-div{
    background-color: white;
    width: 60%;
}
#howitworks #content-div #video-div iframe{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


#pricing{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#pricing h1{
    background-color: white;
    padding: 5vmin;
    text-overflow: hidden;
    font-size: 4vw;
}

#pricing ul{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
}
#pricing ul li{
    padding: 2vw 2vw 2vw 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#pricing ul li h4{
    padding: 2vw 0 2vw 0;
    display: flex;
    font-weight: bold;
    font-size: 2vw;
    text-decoration: underline;
    text-align: center;
}
#pricing ul li img{
    background-color: white;
    width: 100%;
    height: 10vw;
    object-fit: cover;
}
#pricing ul li span{
    margin: 1vw;
    text-align: center;
    width: 80%;
    font-size: 1vw;
    
}





footer{
    background-color: white;
}